[2019-07-18 20:16] brouwern opened #2 "comma missing in shiny example on demo page"
code is currently:

shinyApp(
     ui = fluidPage(excelOutput("table"))
     server = function(input, output, session) {
       output$table <-
      renderExcel(excelTable(data = head(iris)))
      }
    )

comma needed after "ui <- fluidPage(excelOutput("table")),"
eg

shinyApp(
     ui = fluidPage(excelOutput("table")) ,
     server = function(input, output, session) {
       output$table <-

[2019-07-19 01:20] timelyportfolio opened #3 "rewrite in es5 JavaScript to work in older RStudio"
Great work, I saw `jExcel` and hoped someone would make it into an `htmlwidget`.  I hope you don't mind me barging in without any permission, but I couldn't find any way to contact you.

RStudio viewer did not become modern until very recently, which means many users of older versions of RStudio will not be able to use `excelR`.

I will submit a pull rewriting JavaScript in ancient form :)

If you

[2019-07-19 01:44] timelyportfolio opened #4 "pass logical arguments to widget"
See #3 for praise and thanks for creating this package and also the apology for intruding.

Many logical arguments if `FALSE` are not passed to the `htmlwidget` as shown in [lines](https://github.com/Swechhya/excelR/blob/master/R/jexcel.R#L312-L380).

[2019-07-19 01:47] timelyportfolio opened #5 "test package"
You have done a great job, but from previous experience with complex JavaScript libraries, testing has been extremely helpful for me.  For instance, the logic for handling `colHeaders` and `columns` is perfect, but in future version and as things change, a test would help insure expected behavior.

[2019-07-19 02:14] timelyportfolio opened #7 "add communication with Shiny"
`excelR` renders great with Shiny, but since it allows changes in the table, it would be great to capture those changes in R similar to `rhansontable`.  Fortunately, `jExcel` fires events when changes are made, but unfortunately without tranformation the objects on the JavaScript side the values are passed as a `vector`.

I put a quick example together below.

[code]

I am happy to work on this, b

[2019-07-19 03:47] Swechhya commented on #3
@timelyportfolio  I certainly agree with you on this. I did not realize that it was only recently that RStudio viewer started using es6. Also, the package uses jexcel [v3](https://bossanova.uk/jexcel/v3/docs/getting-started) and not v2 and table styling has been documented [here](https://bossanova.uk/jexcel/v3/examples/table-style). Thank you for the pull request.

[2019-07-19 03:49] Swechhya commented on #2
@brouwern Thanks for reporting the issue. I will surely update the demo page

[2019-07-19 03:56] Swechhya commented on #4
@timelyportfolio The logical arguments which have default values(whether it is `TRUE` or `FALSE`) as provided by `jExcel` has not been passed to the `htmlwidget`. But on second thought it seems better if we pass those values so that our library doesn't get affected  in case `jExcel` changes the default values.

[2019-07-19 04:02] Swechhya commented on #5
@timelyportfolio Yes, having test would certainly help in the future. I'll start working on adding test for all the parameters.

[2019-07-19 04:09] Swechhya commented on #7
I do agree with you on this. I am certainly willing to accept pull request on this.

[2019-07-20 05:09] #2 closed

[2019-07-20 15:06] #3 closed

[2019-07-20 15:07] #4 closed

[2019-07-23 06:48] #5 closed

[2019-07-23 07:20] amrrs opened #10 "data picker? - readme"
At the end of the readme something has mentioned as `data picker`, Not sure if it's a typo so raised an issue here!

[2019-07-23 11:52] #7 closed

[2019-07-26 09:10] #10 closed

[2019-07-30 06:06] marciz opened #13 "Update table from Shiny"
Hi!
Thanks for your excelR package!
I am trying to update table content from Shiny but creates duplicate table rather than replaces existing one.
[code]
Output:
![image](https://user-images.githubusercontent.com/5264211/62104456-5a417580-b2a8-11e9-8d93-4ef321c84309.png)

sessionInfo:

[2019-07-30 06:52] Swechhya commented on #13
Thank you @marciz for reposting the issue. You can download the development version of the package that resolves this issue.

[2019-07-30 06:53] #13 closed

[2019-07-30 08:04] marciz commented on #13
Thanks @Swechhya , it works now
Ultimately I am trying to create table with calculated variable
[code]
It works as expected, just small inconvenience from user perspective is that cells selection is lost when table updates (due to new jexcel)

[2019-07-30 09:37] Swechhya commented on #13
Yes, @marciz I can see that could be the inconvenience from user perspective. You can create a new issue for that and I'll try to find a better solution to table updation than currently implemented.

[2019-07-31 06:08] marciz opened #15 "Lost cells selection after table update from Shiny"
https://github.com/Swechhya/excelR/issues/13#issuecomment-516311734

[2019-08-02 13:08] marciz opened #17 "Feature Request: Column types based on data.frame"
Would it be reasonable to add column type mapping in excelTable if param columns$type is missing?
Something like in rhandsontable https://github.com/jrowen/rhandsontable/blob/639b0a511b216391df44c45ea7ef8c934269c28a/R/rhandsontable.R#L69

[2019-08-02 13:39] Swechhya commented on #17
Thanks @marciz. It is definitely something that could be worked upon.

[2019-08-02 15:04] #15 closed

[2019-08-03 18:44] rpodcast opened #19 "Update table column name after rename in Shiny?"
I'm very excited to see this package, so thank you for creating this!  One key advantage I see over `rhandsontable` right away is the ability to rename the column when right-clicking.  While adding/removing rows or columns can be registered in a Shiny app, I noticed that after renaming the column that the data frame is still having the old column name afterwards.  Below is a simple reprex that sho

[2019-08-06 14:56] Swechhya commented on #19
Thank you reporting the issue. It has been resolved in the latest development version.

[2019-08-06 14:56] #19 closed

[2019-08-07 21:03] rpodcast commented on #19
Terrific!  I just tried it out and works perfectly 👍

[2019-09-02 08:58] Swechhya commented on #17
@marciz, This feature has been added in the latest development build.

[2019-09-02 08:58] #17 closed

[2019-09-17 13:14] marciz opened #25 "Date & character column to factor after editing"
**Describe the bug**
Date and character columns are converted to factor after editing any cell

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Desktop (please complete the following information):**

[2019-09-17 15:27] Leo-Lee15 opened #26 "Automatically changing the color of text in a cell when user makes changes in excelR"
Thanks for this awesome package!

I have a question. Is there a way to know which cells are edited by the user in shiny apps. Say, automatically changing the color of text in a cell  when user makes changes in excelR. If the user makes changes in some cells, then the color of the text in these cells or the  can be changed accordingly. Just like the following Excel screenshot.

![image](https://use

[2019-09-18 11:43] Swechhya commented on #25
Thank you for reporting the issue. This clearly has been an oversight on my part.
In case of date it is easily identifiable as `calendar` type in js so can be easily set as date while converting back.
In case of factors and characters both will of `text` type in the js side so converting it back is a little tricky. Either it will always be converted to character or always converted to factor. So t

[2019-09-18 11:49] Swechhya commented on #26
Currently there is no such feature in the package. Thank you sending these requests, I'll surely consider these requests and try to include it in the future versions.

There is no automatic way for changing the color of text in a cell when user makes changes in excelR, however that can be done with bit of R code, by checking the previous and current data and using [style parameter](https://swechhy

[2019-09-18 14:14] marciz commented on #25
Hi, I think character would be preferable
If original data has any factor field there might be warning that it would be converted to character after edits
Or if want to get more complex we could add extra parameter in function stringsAsFactors = TRUE/FALSE

[2019-09-19 00:34] Leo-Lee15 commented on #26
Thanks for your instructions!

[2019-09-19 04:34] Swechhya commented on #25
I guess `stringAsFactors = TRUE/FALSE` would make it more predictable. Another option would be changing the factors into dropdown instead of just plain text with `autoColTypes`, which would make it more predictable and also be useful I to create dropdowns I guess.

[2019-09-19 06:25] marciz commented on #25
Yes, this could also be solution for type mapping:
 factor <-> dropdown
 character <-> text
I think it is something similar in rhandsontable

[2019-09-19 17:34] GoodMorgon opened #27 "Auto-width for columns and auto-fill to container / window width + height"
Hello!

Many thanks for developing this package! :) This is absolutely what is needed for developing a shiny app with Excel-based worksheets integrated.

May I ask if it's on the to-do list to add the features auto-width on column names and another feature to force the width and height to the container width/height? These additions would make the package a killer...

This could best be done in the

[2019-09-20 04:07] Swechhya commented on #27
Thank you for pointing out a much needed feature. I will try to include in the future version of the package.

[2019-10-01 02:24] Swechhya commented on #25
@marciz This has been fixed in the latest development version.

[2019-10-01 02:24] #25 closed

[2019-10-01 07:28] marciz opened #31 "Issue with development version"
**To Reproduce**
Steps to reproduce the behavior:
[code]
![dt1](https://user-images.githubusercontent.com/5264211/65942285-a0948b80-e435-11e9-849e-67a0a855abda.PNG)
[code]
![dt2](https://user-images.githubusercontent.com/5264211/65942294-a8ecc680-e435-11e9-8f97-ee5b0f3c0aaa.PNG)
`all.equal(dt1, dt2)`

[2019-10-01 07:44] marciz commented on #31
Nulls in dropdown source might be the issue

`dt1$x$columns`

`dt2$x$columns`

[2019-10-01 08:01] Swechhya commented on #31
@marciz Thank you for reporting the issue. Will start working on it right away.

[2019-10-01 08:07] marciz commented on #31
It think you can try to change get_col_types.r line https://github.com/Swechhya/excelR/blob/97e241bfd8fd3b8ad5cc87a688dbc393496f44f8/R/get_col_types.R#L40
to
`levels(data[,col])`

[2019-10-01 08:21] Swechhya commented on #31
This resolves the issue for the given case partially but when there is only one unique value it will still fail.

[2019-10-01 08:33] marciz commented on #31
Yes, drop-downs doesn't work properly when only single factor:
Works:
[code]
Doesn't work:
[code]

[2019-10-01 08:43] Swechhya commented on #31
With is fix it should be working. Thank you for all the help.

[2019-10-01 08:43] #31 closed

[2019-10-02 14:50] marciz opened #35 "Shiny lost colnames & numeric to factor after edit"
Describe the bug
After shiny table edit (e.g. put char 'a' into Sepal.Length):
* lost colnames when column param used (no issue if columns = NULL)
* if character value input into numeric, column is converted to factor

To Reproduce
Steps to reproduce the behavior:

[code]

Is there a way to limit character input into numeric column? So that only numeric values are accepted. Date columns already do

[2019-10-03 07:31] marciz commented on #35
To avoid character input in numeric fields, probably need to add mask parameter to column data.frame. If it is numeric then it might be `mask:'#.#'` by default

[2019-10-03 11:59] Swechhya commented on #35
@marciz Thank you for reporting the issue. I'll look into the issue of why column names are getting lost after edit. and why the numeric value is getting converted to factor instead of character. Should be related to  one of the recent changes made in `excel_to_R` function.

I'll see if `jexcel` provides an extension to restrict the number/character input into columns. Could you file a new feature

[2019-10-04 06:17] marciz opened #36 "Restrict the number/character input"
Possible solution is to add mask options in column data.frame
[code]

There are some open issues with masks
https://github.com/paulhodel/jexcel/issues/630
https://github.com/paulhodel/jsuites/issues/14

[2019-10-04 10:15] marciz opened #37 "More flexible columns data.frame in excelTable"
Can we make columns data.frame in excelTable more flexible by removing
https://github.com/Swechhya/excelR/blob/5b3fbbb790f40b188bf5eeb2554b6a4c037c9ad9/R/jexcel.R#L182
https://github.com/Swechhya/excelR/blob/5b3fbbb790f40b188bf5eeb2554b6a4c037c9ad9/R/jexcel.R#L192
There are other possible parameters users might find useful - decimal, align, wordWrap,.. Not sure it is useful to try to mention all o

[2019-10-14 08:11] Swechhya commented on #35
@marciz, the above two PR should resolve the issues you have reported. You can reopen this if the issue you have reported hasn't been addressed in latest development version.

[2019-10-14 08:11] #35 closed

[2019-10-18 13:48] marciz opened #42 "Get/set comments from Shiny"
Add function to get and set comments in excelTable in Shiny

[2019-10-23 04:59] Swechhya commented on #42
In [`jexcel`](https://bossanova.uk/jexcel/v3/) we can easily set and get comments as mentioned [here](https://bossanova.uk/jexcel/v3/examples/comments).

**Requirement:**
1. Add a parameter `allowComments`  in excelTable.
2. `allowComments` should be passed to `jexcel` so that user will be able to set comments.
3. Functions `setComments` and `getComments` should be added to the R side which will s

[2019-10-23 05:07] Swechhya commented on #37
**Requirement:**
1. Remove column name  checking for `column` parameter  in `excelTable` function.
2. Instead add the example for different parameters that could be used in the documentation.

[2019-10-24 05:51] marciz commented on #27
In Shiny you can add tags in ui to get auto-width for columns and wrap colnames
But agree would be better to have params in function
[code]

[2019-11-06 16:16] Ranlod opened #43 "remove date format check"
Can you remove check on date format? Because jexcel supported more different format date. For Example 'DD.MM.YYYY', 'MM.DD.YYYY', 'YYYY.MM.DD' and other kind formats.
https://github.com/Swechhya/excelR/blob/a9fdb9b03d03a7d984feaa31af1a7fb081fb3e7b/R/jexcel.R#L419

[2019-11-06 19:00] kohlkopf commented on #27
I also have a workaround, for use in an RMarkdown. Wrap your chunk in the following HTML:

`<div class="pagedtable pagedtable-not-empty" style="opacity: 1;"><table style="visibility: hidden; position: absolute; white-space: nowrap; height: auto; width: auto;">`

` ```{r}`
`excelTable(sample_locations, defaultColWidth=200, editable=FALSE)`
` ``` `

`</table></div>`

This results in an auto resizing

[2019-11-06 23:13] osker130 opened #44 "Pop-up animations (right click, autocomplete) are misplaced"
ExcelR is a great package, kudos to you. Unfortunately I run into issues when I place ExcelR table in a container using shiny dashboard. For instance, when using excelOutput() inside a box() or bsModal() UI element, it causes issues with pop-up animations. If I right click on a table the menu opens at a different location from where I clicked. Likewise, if I have drop-down columns, the menu will a

[2019-11-07 11:46] Swechhya commented on #43
@Ranlod, we could add other date formats supported by jexcel. This check is there to ensure that user gets a proper warning in case of improper date format.

[2019-11-07 11:47] Swechhya commented on #44
@osker130 Could you add an example to replicate the issue?

[2019-11-07 13:32] osker130 commented on #44
@Swechhya thank you for your prompt response. Below is a reproducible example demonstrating the right click and drown-down context menu location problems. A few notes:

- The right click issue is more noticeable with tables located further down the page.

- The drop-down issue is not as dramatic in this example as in my actual app. But you can still see in the modal that the menu appears further d

[2019-11-07 20:30] Ranlod commented on #43
@Swechhya ok, but i think it is will not enough flexible resolve

[2019-11-08 19:58] marciz commented on #43
Related to #37 , date format is columns parameter `options: { format:'DD/MM/YYYY' }` (https://bossanova.uk/jexcel/v3/examples/date-and-datetime-picker)

[2019-11-14 10:56] Swechhya commented on #43
@marciz Although your PR #45 somewhat tries to handle this,  PR to add additional valid date format is more than welcome 😃

[2019-11-14 22:11] sonksen commented on #19
Similar to what @rpodcast has said, I really enjoy using this package, its much smoother than some other alternatives I've seen.  But I have noticed that in the above example @rpodcast gave, if you add a new column not at the end of the table, the column names keep the same order but with an NA at the end (rather then in the new column).  See below:
![image](https://user-images.githubusercontent.c

[2019-11-15 04:14] Swechhya commented on #19
@sonksen Thank you for reporting this issue. PR for this or any other issue is always welcomed 🙂

[2019-11-19 10:23] Swechhya commented on #42
As PR #47  addresses this issue, closing this. Feel free to open it again in case of any discrepancy.

[2019-11-19 10:23] #42 closed

[2019-11-28 08:35] Swechhya commented on #43
Thanks @Ranlod  for raising the issue, after looking through the different date formats supported, adding valid date formats did not seem flexible. Hence removing the check.

[2019-11-28 08:35] #43 closed

[2019-11-28 15:02] GoodMorgon opened #49 "Selected row callback"
Many thanks (again) for developing this package!

Using the package with  `shiny` it would be awsome if the possibility to easily retrieve the selected row for an `excelTable()` object could be implemented. This is needed for example if a graph should be updated depending on the row chosen in the table.

I can see from using the Inspector in Google Chrome that the class of `<td>` and `<tr>` inside

[2019-11-29 08:40] Swechhya commented on #49
@GoodMorgon  Thank you for suggesting this much needed feature.

New function `get_selected_data` has been added to get the selected cells in excel table. You can refer to [this example](https://swechhya.github.io/excelR/#getting-selected-data-in-shiny-currently-only-available-in-development-version) for more details. Please note that this function is currently available in development version onl

[2019-11-29 08:40] #49 closed

[2019-12-02 03:34] Swechhya commented on #36
@marciz, your PR #45 resolves this issue, so closing this.

[2019-12-02 03:34] #36 closed

[2019-12-02 07:06] Swechhya commented on #37
@marciz , closing this issue as your PR #45 has handled this.

[2019-12-02 07:06] #37 closed

[2019-12-02 08:48] Swechhya commented on #27
@GoodMorgon , closing this as this issue has been addressed in PR #52. Two params `autoWidth` and `autoFill` has been added to `excelTable` function. Please note that this is currently available in development version only.

Thanks to @marciz for  specifying the style that could be added to get the desired output.

[2019-12-02 08:49] #27 closed

[2019-12-02 09:10] Swechhya commented on #44
@osker130 this is happening due to relative positioning of `col-sm-12`  and `box` class which gets added when you use `box`

[2019-12-02 09:38] GoodMorgon opened #53 "changed behaviour of excel_to_R() function"
Thank you for the super fast response on the last feature request!

Downloading the dev (github) version I noticed that the `excel_to_R()` function now behaves differently than from the latest cran release.

Instead of returning the full excel table it now only returns the changes for the edited cell. Is this an intended behaviour or a bug (I did not find it under the changelog)?

The current beha

[2019-12-02 09:45] GoodMorgon opened #54 "add selected row and column ids to get_selecetd_data()"
Hello again!

If the row and column numbers of the selected data that is available through `get_selected_data()` could be made available this would be awsome.

Currently there is no way for a script to know exactly which columns / rows to directly filter the selected data on, as the row and column ids of the selected data is not returned.

This greatly limits the function's capabilities as a "filt

[2019-12-02 11:46] Swechhya commented on #53
@GoodMorgon  Thank you for reporting the issue. This was a side effect of adding `get_selected_data` function. The `input$table` is always triggered regardless   the value is changed or selected. When the value is changed in the table `excel_to_R(input$table)` would now give the entire table while upon selection it would give `NULL` as there is no change in the table.

[2019-12-02 13:19] marciz commented on #53
@Swechhya I think it is still breaking change in modified example
[code]
Also, is it possible to turn off trigger for selection change if it is not necessary? I guess this might slow down & cause issues in shiny

[2019-12-03 03:53] Swechhya commented on #53
@marciz I agree with you on that, we could add a parameter in `excelTable` to specify if we want to get selected values and based on that we could turn on the trigger for selection. Also, with the current changes in this version you might want to check for `NULL` before printing the table. Code will be something like this:

[code]
What do you think about this approach? We have to do this because w

[2019-12-03 06:58] marciz commented on #53
@Swechhya, I agree - parameter `getSelectedData `sounds good.
I haven't looked at recent changes in details, but what if `getSelectedData = TRUE` and I need to change the input data? Possible solution would be `excel_to_R ` to return something like `list(data = ..., selectedData = ...)`

[2019-12-03 12:18] GoodMorgon opened #56 "Inconsistent date format on JSON return object"
Using both the dev and latest cran version and editing a calendar type column I receive the error `character string is not in a standard unambigous format`.

Stepping into the code and printing the JSON object without using `excel_to_R` I can see that the calendar input is of the format `YYYY-MM-DD 00:00:00` instead of just `YYYY-MM-DD`.

However, I cannot reproduce this issue by using the example

[2019-12-04 06:59] marciz commented on #56
I think the issue is blank in the date field

Error in charToDate(x) :
  character string is not in a standard unambiguous format

[2019-12-04 08:29] GoodMorgon commented on #56
That is probably another issue. You can see from the screenshots that the date input indeed is passed along, but with a timestamp addon.

[2019-12-13 06:49] shastryvinay opened #57 "Height and scrolling options in excelTable in shiny"
Hello!

This excelTable and shiny integration functions are really awesome, thanks for the package.

I'm using excelTable under a shinyApp, but it is not fitting properly inside a box( or even without a box), also I'm unable to adjust the **Height and Width** of excelTable under shiny.

If I make fullscreen='TRUE', it is covering full screen from left but going out of the window on the right side.

[2020-01-10 13:32] marciz opened #58 "Multiple dropdown"
**Describe the bug**
Multiple dropdown not working, not able to select any value

**To Reproduce**
[code]

**Desktop (please complete the following information):**

[2020-01-28 11:52] marciz opened #59 "Calendar options"
**Describe the bug**
Sub-lists are not working in excelTable columns option. Couldn't get working example with calendar options

**To Reproduce**
[code]

[2020-02-18 04:31] Swechhya commented on #56
@marciz This issue cannot be replicated even with an empty cell with the example below:
[code]
Can you please post an example which replicates this issue so that I can merge your PR?

[2020-02-18 06:53] marciz commented on #56
@Swechhya , try to delete test row 1. It gets an error

[2020-02-18 07:07] Swechhya commented on #57
@shastryvinay Thanks for reporting the issue. Could you please add a code to replicate the bug?

[2020-02-18 07:31] Swechhya commented on #56
@marciz Using the latest development version and deleting the first row I am not able to replicate the error. Any pointers why?

[2020-02-18 08:04] marciz commented on #56
Press delete button on the first cell of test column. Is there still no error?

[2020-02-18 08:50] Swechhya commented on #56
@marciz Can replicate it. Thank you 😃

[2020-02-18 08:53] Swechhya commented on #56
@GoodMorgon  Closing this issue as this is fixed by PR #60.  Thank you @marciz for the fix 🎉

[2020-02-18 08:53] #56 closed

[2020-02-18 08:55] Swechhya commented on #58
Closing this issue as PR #61 fixes this.

@marciz  Feel free to reponen it if the latest development version does not resolve the issue.

[2020-02-18 08:55] #58 closed

[2020-02-28 03:50] Swechhya opened #62 "Fix failing tests on latest R version"
**Describe the bug**
Fix failing tests on latest R version.
Link to failing test 👉 https://cran.r-project.org/web/checks/check_results_excelR.html

**Expected behavior**
All the tests should pass in latest R version

[2020-03-08 07:42] #62 closed

[2020-03-09 06:38] Swechhya commented on #54
@GoodMorgan how do you suggest the row and column number should appear? Any reference to this would be helpful in adding this enhancement and release it in next few days.

[2020-03-09 11:14] Swechhya commented on #54
@GoodMorgon  In the latest development version I have added a function `get_selected_data_boundary` which will give you the boundary of selected cells. Hope that this helps!

[2020-03-09 11:14] #54 closed

[2020-03-09 11:16] Swechhya commented on #53
@GoodMorgon  @marciz  the issue mentioned in this PR has been fixed in the latest development version. The `excel_to_R` behaviour is as in the earlier versions. Feel free to open it if you think the issue still persists.

[2020-03-09 11:16] #53 closed

[2020-03-10 10:04] Swechhya commented on #59
@marciz  Can you please explain what do you mean by sub-lists? I am not able to understand what you are trying to achieve with the piece of code.

[2020-03-10 10:37] marciz commented on #59
I was trying to adjust calendar settings with options parameter
https://bossanova.uk/jexcel/v3/examples/date-and-datetime-picker
Not sure it is correct, but I guess options parameter would be type list

[2020-03-22 23:02] wyu commented on #57
Hi, I think I'm hitting a related issue as @shastryvinay. What I would like to do is to increase the height of the table in a Shiny app.

The minimum code to illustrate the problem is as below. You need to unzip the attached zip file first to get the "inventory.rds" file.

  dat = readRDS("inventory.rds")
  excelTable(data=dat$data, autoFill=TRUE);

The "autoFill" doesn't seem to work. In the RStu

[2020-03-23 00:31] wyu commented on #57
Reading the source code, is it possible that the '0' argument for both the width and height may be the problem. They probably should be set to NULL according to the API definition I can find.

# create the widget
    htmlwidgets::createWidget(
      name = "jexcel",
      x = paramList,
      width = if(fullscreen)'100%' else 0,
      height = if(fullscreen ) '100%' else 0,
      package = 'excelR

[2020-04-16 02:43] fmarois opened #68 "excelR table in Shiny not visible in IE11"
Hello,
when trying to view a shiny app using excelR in Internet explorer 11 the table does not show up.
Upon investigation the error code provided by IE is this
`SCRIPT1014: Incorrect character
jexcel.js (54,50)`
I think the problematic character is a backquote.
My app is running in a shiny server and I am running excelR version 0.4.0.
Thank you for your great work, I really appreciate it.

[2020-04-22 05:27] Swechhya commented on #68
@fmarois  Can you please share the code to replicate the issue?

[2020-04-23 15:33] fmarois commented on #68
Here you go:
When I try to run this in Internet Explorer the excelOutput does not get displayed.

`library(excelR)

ui <- navbarPage("Cars Page",
                 theme = "bootstrap.min.css",
                 tabPanel("cars",
                          mainPanel(
                            fluidRow(excelOutput(outputId = "cars")
                            )

                          )

[2020-05-06 08:56] Swechhya commented on #68
The support for IE 11 has been added in PR #69 and should be available in the latest development version. Feel reopen this if the issue you have reported hasn't been addressed in latest development version.

[2020-05-06 08:56] #68 closed

[2020-05-08 12:28] Swechhya commented on #59
@marciz This issue has been resolved in PR #70. Feel free to reopen this issue if the bug you reported is not resolved.

[2020-05-08 12:28] #59 closed

[2020-05-24 04:17] bppipher opened #71 "excel_to_R throws an error when a column is deleted in the "Reading changed data from excel table in Shiny" example"
In the "Reading changed data from excel table in Shiny" found [here](https://swechhya.github.io/excelR/#reading-changed-data-from-excel-table-in-shiny) if you load this and delete any column it throws an error

`Warning: Error in <-: 'names' attribute [5] must be the same length as the vector [4]`

`  74: colnames<-`

`  73: excel_to_R`

`  72: observeEventHandler [C:\myfilepath]`

`   1: runApp`

[2020-05-27 14:44] Swechhya commented on #71
@bppipher Can you provide the excelR version that has this issue?

[2020-05-27 19:44] FrankSchiro opened #72 "Add tableHeight parameter to excelTable"
**Is your feature request related to a problem? Please describe.**
I could not alter the height of the excelTable in Shiny without using ```fullscreen = TRUE```. However, ```fullscreen = TRUE``` would hide the searchbar under the shiny navbar, and I could not insert padding for some reason.

Adjusting height in excelOutput in the Shiny UI also had no effect.

**Describe the solution you'd like**
a

[2020-05-27 19:53] FrankSchiro commented on #72
I realized I can just pass this as a parameter into the original function, even though it's not explicitly stated as a parameter.

[2020-05-27 19:54] #72 closed

[2020-06-13 05:26] Swechhya commented on #71
@bppipher This bug has been fixed in the latest development version. Feel free to reopen the issue if the bug persists.

[2020-06-13 05:26] #71 closed

[2020-06-18 20:33] jaracklawrence opened #74 "apply styling to entire row or column"
This is a wonderful package, I'm really enjoying exploring all of its features and how it can improve my shiny apps.

With regards to styling (described here https://swechhya.github.io/excelR/#style ) is it possible to apply style to an entire row, or an entire column (as opposed to one cell at a time).

I may have rather large tables and writing hundreds of rows of the same style setting will be

[2020-07-03 15:59] jaracklawrence opened #75 "Reset data in table"
I currently have a shiny app in which a selectinput allows users to choose a particular saved table, and i display that table using this excelR package (which is extremely useful). Users currently:

1. Select a table from the drop down.
2. Edit the table (which is a series of model inputs and parameters) using excelR as described in the documentation
3. Click an action button to then run our model

[2020-07-07 08:13] Swechhya commented on #75
@jaracklawrence Currently the `excel_to_R` only returns data on any kind of `onChange` or `onSelection` event. I'll add a this as a todo feature.

[2020-07-07 08:15] Swechhya commented on #74
@jaracklawrence I'll add this as a feature request to be developed in the upcoming version. Thanks!

[2020-07-10 22:49] daeyoonlee commented on #75
Thank you for the great package !
I am currently using rHandsontable and DT but i am considering to change to excelR.
Currently excel_to_R function returns full data but I am interested about changed value(s) and table index only to speed up.
I would be very happy if it could be applied in the future.

[2020-07-11 06:53] Swechhya commented on #75
Thanks @daeyoonlee. Will surely add it to the pipeline of todo features.

[2020-07-13 12:39] daeyoonlee commented on #75
Thanks for your kind answer. I look forward to it.

[2020-07-14 16:54] ipignate commented on #74
I wanted to do the same, but ended up embedding a callback javascript function that makes the trick.

[2020-07-24 19:55] wyu opened #76 "Column insertion resulted in mismatched header and data"
**Describe the bug**
Upon the insertion of a column, the output of "excel_to_R call" in a Shiny app yields an invalid data frame where the inserted col is missing from the colHeader

**To Reproduce**
Using the sample app

library(shiny)
library(excelR)

shinyApp(
  ui = fluidPage(excelOutput("table")),
  server = function(input, output, session) {
    output$table <-
      renderExcel(excelTable(d

[2020-07-24 23:26] wyu commented on #76
Actually this issue was reported in another thread toward the end of the discussion:
https://github.com/Swechhya/excelR/issues/19

Is there any resolution to this problem?

Thanks!

[2020-08-05 09:42] MrugankC opened #77 "Get SelectedRow"
Hello team,
Thanks for this great package.

I am currently using DT for creating tables in my ShinyApp. I was looking for substitutes for the DT package and found excelR's name in out of the articles on the internet. When I gave excelR a try, it looks great - especially the checkboxes for Logical values, row and column resizing, use of excel formulae etc.

But one thing I think is missing (or I do

[2020-08-06 14:09] Swechhya commented on #76
@wyu Thank you for reporting the issue. I'll start looking into resolution right away.

[2020-08-06 14:10] Swechhya commented on #77
@MrugankC  Thank you for mentioning a much needed feature. I'll add it in pipeline of features to be added in the future versions.

[2020-08-19 03:20] Huh opened #78 "Unused factor levels lost and factors reordered with excel_to_R"
Factor data passed to excelTable is first coerced to a string and then the string is coerced back to a factor using default R behavior, which drops unused factor levels and potentially reorders factors.

**To Reproduce**
Run the code below and change the Name column to C, A. The expectation would be that there are still 3 levels, but only two exist.

[code]

**Expected behavior**
Factor levels and

[2020-08-28 19:11] ivanalaman opened #79 "Show table index when selecting cells!"
Dear,

Congratulations on the package. I would like to know if it is possible to return the table index when the user selects a certain cell. Suppose the user wants to merge columns 1 and 2 of row 1. So, I need to know these indexes when the user selects such cells.

Thank you.

[2020-10-02 16:02] mmoisse opened #80 "Single column data.frames have wrong column name"
**Describe the bug**
When you provide a data.frame to excelTable with only one column the column name is set to the first letter of that column instead of the full name.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
The full column name

**Desktop (please complete the following information):**
 - OS: Linux
 - Version excelR_0.4.0 shiny_1.5.0

[2020-10-02 16:07] mmoisse opened #81 "Using columns and getSelectedData options in excelTable give unexpecte behaviour with column rename"
**Describe the bug**
Defining columns and setting getSelectedData to TRUE in excelTable give unexpected behaviour with column rename. Only the last column name change is remembered.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Persistent column name change

**Desktop (please complete the following information):**
 - OS: Linux
 - Version excelR_0.4.0 shiny_1.5.0

[2020-10-02 16:14] mmoisse commented on #79
Maybe you could use `get_selected_data_boundary` ?

[2020-10-02 16:19] mmoisse commented on #77
Maybe you could use `get_selected_data_boundary(input$table)` ? It gives you the coordinates of the top left bottom right selected sel. So if you want to known the selected row you look at `$borderTop` and `$borderBottom`

[2020-10-02 17:46] Swechhya commented on #80
Thank you for reporting the issue @mmoisse. This issue has been fixed in #82 and is now available in the development version. Feel free to open it if the issue persists.

[2020-10-02 17:46] #80 closed

[2020-10-03 09:55] mmoisse opened #83 "ExcelTable not showing when defining columns in dev build"
**Describe the bug**
When I define columns in excelTable I do not get to see the table, only an empty page. Leaving out the column argument solves the issue.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
See the table

**Desktop (please complete the following information):**
 - OS: Linux
 - Version git version Swechhya/excelR@9ff3edb1

[2020-10-03 12:17] Swechhya commented on #83
@mmoisse Thank you for reporting this critical bug. This bug was caused due to the inclusion of the `calendar` column type without `option` in the column parameter.
This has now been fixed in the latest development version. Hence, closing this issue now. Feel free to open it if the issue persists.

[2020-10-03 12:17] #83 closed

[2020-10-03 14:02] Swechhya commented on #76
@wyu This issue has now be resolved in the latest development version. Feel reopen the issue if the issue persists.

[2020-10-03 14:02] #76 closed

[2020-10-03 14:02] Swechhya commented on #81
@mmoisse Thank you for reporting this issue. This has now been fixed in the latest development version. Feel free to reopen this issue if it persists.

[2020-10-03 14:02] #81 closed

[2020-10-19 19:57] rpodcast opened #86 "Reset cell edit to particular value based on criteria"
Hello, I am making a Shiny app that let's the user edit certain columns of a table produced by your great package.  In my situation I have a column with cells that should only have values between 0 and 100, and I do not want the table to accept any string values nor numeric values outside of the range.  I got pretty close by leveraging the `updateTable` parameter in the call to `excelTable` with a

[2020-10-24 13:06] shitaka23 opened #87 "Merged Cells not working properly"
Hi,

I am using mergedCells as per the code below, however when I run the app the merged cells pushes all values to the right in all rows with the exception of the 1st merged row (See screenshot attached).

library(excelR)
library(shiny)

data = data.frame( Make = c('Honda', 'Honda', 'Hyundai'),
                   Car = c('Civic', 'City', 'Creta'),
                   Year = c('2018','2019','2020')

[2020-10-28 05:17] Swechhya commented on #86
@rpodcast You were on the right track, the problem with your js code is that you just changed the display value and not the excel table value just adding these two function calls ` instance.excel.setValueFromCoords(col, row, 0)`  and `instance.excel.setValueFromCoords(col, row, 100)` solves the issue. Here is the modified js snippet that works as expected.

[code]

[2020-10-28 07:19] Swechhya commented on #87
Thank you @shitaka23 for reporting this issue. This issue has been addressed in #88 and should be working in the latest development version.

Closing this issue, feel free to open it if again if the issue persists.

[2020-10-28 07:19] #87 closed

[2020-12-12 14:57] daeyoonlee opened #89 "Can we use the `onchange` event?"
Dear  Swechhya,

Can we use the `onchange` event?
I tried the following, but nothing happens when I change the table value.

   onchange <- "function(instance, cell, x, y, value) {
      alert('test');
    }"

    excelTable(
      data = df,
      editable = TRUE,
      wordWrap = TRUE,
      autoWidth = TRUE,
      autoFill = FALSE,
      lazyLoading = TRUE,
      loadingSpin = TRUE,
      getSe

[2021-03-10 21:59] Mikea0228 commented on #57
I didn't manage to work out what was happening with `autoFill` and `autoWidth` but I did find an alternative solution that works great. Thanks to @Swechhya 's inclusion of `...` in the arguments for `exceltable()`, I was able to use the [Jspreadsheet](https://bossanova.uk/jspreadsheet/v2/docs/quick-reference)
documentation to pass `tableHeight ="100%` to the underlying JS. Here is a minimal exampl

[2021-03-12 11:21] Mikea0228 opened #90 "getComments() removes expected column names from input$table"
After use of `getComments()` the elements of `input$table` change from ; "data", "colHeaders", "colTypes, and "forSelectedVals" to just "comments". Seeing as this updates `input$table`, any `observeEvent(input$table)` that calls `excel_to_r()` will fail unless an explicit check of the names of `input$table` and will not be able to access the data in `table` until an explicit change is made to the

[2021-03-12 11:29] Mikea0228 commented on #90
It looks like the issues lies in `jexcel.js` found in htmlwidgets, relevant code chunk:

[code]

[2021-03-25 10:02] mengchen18 opened #91 "In shiny app, when a column is deleted, the column header is not deleted accordingly. Results in an error when call "Excel_to_R" function."
This seems like a bug:

**Describe the bug**
In shiny app, when a column is deleted, the column header is not deleted accordingly. Results in an error when call "Excel_to_R" function.

**To Reproduce**
Steps to reproduce the behavior:
[code]

Delete the second column from the shiny app, then the console prints:

[code]

**Expected behavior**
Please note there are still two elements in the "colHead

[2021-04-22 09:30] Swechhya commented on #89
@daeyoonlee the `onchange` event cannot be overwritten as this function handles the core change in the table.

[2021-04-22 09:32] Swechhya commented on #86
@rpodcast Closing the issue. Feel free to open it if the issue still persists.

[2021-04-22 09:32] #86 closed

[2021-07-03 11:03] daeyoonlee opened #92 "autofill = FALSE does not work?"
**Describe the bug**
I want to copy all the numbers to the same value, but I don't know how.
Even with autofill = FALSE, if you grab the dot at the bottom right and lower it, the value will automatically increase.

![image](https://user-images.githubusercontent.com/68131229/124351968-78544500-dc38-11eb-8fbf-9aec09917b18.png)

**To Reproduce**

library(excelR)

data = data.frame(Model = c(10,"","",

[2021-07-03 11:13] daeyoonlee commented on #89
Sorry for the late reply. This is because I wanted to make varius input validation at the client side. for example,
  1) popup warning
  2) typo auto fix
  3) make input NG message to another cell

[2021-07-17 13:37] gueyenono opened #93 "Making part of the table read-only"
I was wondering if there was a way to make part of an `excelTable` read-only (e.g. a cell, several specific cells, a row, a column...). The `excelTable()` function has the `editable` argument, which makes the entire table editable or not.

Thank you

[2021-07-19 06:01] daeyoonlee commented on #93
It is possible with updateTable.

[code]

[2021-07-19 06:55] gueyenono commented on #93
Okay, so you need to do it with JavaScript. I'll try it out then close the comment once it works.
Thank you so much!

[2021-07-22 03:32] Swechhya commented on #93
@gueyenono Thanks you the question. This could be a functionality that we could add it the future releases. I'll label this as a feature request.

[2021-07-22 03:53] Swechhya commented on #92
@daeyoonlee  You need to set the `autoIncrement` parameter to `FALSE`. The `excelTable` function would look like this:
`excelTable(data=data, autoFill = FALSE, columns = columns, autoIncrement = FALSE)`

Closing this issue, feel free to open it again if this does not resolve your issue.

[2021-07-22 03:53] #92 closed

[2021-08-19 03:53] Swechhya commented on #91
@mengchen18 Can you please specify the version of excelR you are using? I can't replicate this issue in the latest development version.

[2021-09-03 22:24] rb543210 opened #94 "Editing and Resetting Tables"
I am trying to use excelR for editable tables that can be reset by a button. The code below is a simplified extract from a larger app. I see two issues when I do this, although one might be a feature request:

1) When editing a cell once and then discarding, the table behaves as expected. I can make as many different edits as I want and get the expected result, but when I edit the same cell twice

[2021-09-08 07:48] Swechhya commented on #94
@rb543210 Which version of excelR are you using? The first issue is not replicable in the latest development version of excelR. The second issue is more of a feature request which I plan to implement in the next version of excelR.

[2021-09-09 23:22] rb543210 commented on #94
@Swechhya Thanks for your response! I'm using excelR 0.4.0 and R 4.0.2.

[2021-09-30 23:55] mostafa790 commented on #93
@daeyoonlee is it possible to freeze (readonly), 2 or more variables ? Thanks

[2021-10-02 11:31] Swechhya commented on #94
@rb543210 Can you try with the development version? I'll be releasing a new version with the fixes and getting the data very soon.

[2021-10-05 13:42] mostafa790 commented on #93
I'm not really comfortable with JS, but this work.

`updateTable = "function(instance, td, col, row, value, label, cellName) {
      var header = instance.jexcel.getHeader(col);
      if (header != 'Availability') {
        td.classList.add('readonly') ;
      }
    }"

data = data.frame(Model = c('Mazda', 'Pegeout', 'Honda Fit', 'Honda CRV'),
                  Date=c('2006-01-01', '2005-01-01','2

[2021-11-05 06:02] zhangjunjiang opened #96 "add a scroll_x function when the table have too many column?"
Is this possible to add a scroll_x function when the table have too many columns?
It is hard t show a data frame in shiny when it have over 30 columns.
And this function is used in package like DT or rhandsontable😂😂but I think this package is more convenient to use

[2021-11-30 21:47] rb543210 commented on #94
@Swechhya It looks like both issues I identified are fixed. Thank you for the package! It seems like the next version will be really useful.

[2021-12-01 10:02] Ljupch0 commented on #93
@mostafa790 works well, but then you get the greyed out look, not very readable. I have a situation of two reference columns and one column to be edited based on the values in the reference columns.

[2021-12-03 13:59] Rasmusma1995 opened #97 "Footers"
Is it possible to add the footer option from jexcel?
Doesn't seems like the object even carries the method.

[2021-12-07 08:52] aeynaud opened #98 "Remove Row Index from excelTable?"
I would love to see a way to remove the row index, for style purposes.
Can this be done using CSS alternatively?

Thank you for this great package!

[2021-12-10 19:10] lanceupton opened #99 "input object corresponding to renderExcel output not available."
Great package! The development version offers a lot of functionality that I need in my shiny apps, however I noticed an issue recently (described below) that I wonder may be related to a recent development version or if I'm doing something completely wrong :(

**Describe the bug**
The input object corresponding to renderExcel output is always NULL.

**To Reproduce**
See MRE below.
* Clicking "Add

[2021-12-21 05:57] zhangjunjiang commented on #96
it seems this can be solved by script like this
[code]

[2021-12-21 05:57] #96 closed

[2021-12-21 06:19] zhangjunjiang opened #100 "colnames are missing when download CSV file using "toolbar" add-in"
It's quite convenient to use this tool in shiny app
This is a simple bug I meet, but I think it's also very important😁😁

I have a table output like this :
[code]
When I try to download the table by click the "save" button in the toolbox, I can see the saved csv file.
But this file don't have the colnames.

**Expected behavior**
I hope colnames can be saved in the csv file.
Also I think it's good t

[2021-12-21 06:21] zhangjunjiang commented on #100
I got the #100 🥳🥳🥳🥳

[2022-01-10 13:42] kristofkelemen commented on #57
Hi,
using excelTable in Shiny. However I set it, table will not be wider than the container. I am adding lots of columns all the time and would love to have horizontal scrolling for wide tables. Is it already there, am I missing something, or is that not yet possible? Thanks.

[2022-01-16 20:41] tbergenhill opened #101 "Upgrade to JSpreadsheet v4"
**Is your feature request related to a problem? Please describe.**
Currently our project is seeking a R-based solution for a browser-based spreadsheet with tabs.  excelR, which is based on v3 of JExcel (now jSpreadsheet), doesn't have the tabs.

**Describe the solution you'd like**
It would be great if excelR can upgrade from v3 to v4 of JExcel/JSpreadsheet

**Describe alternatives you've consider

[2022-01-22 06:13] pi-at-git opened #102 "strange behaviour on overwiting cells content"
Hello! Thanks for this really amazing package. I hope you find the time to keep up with this the great work. Unfortunately, I noticed some strange behavior when I overwrite cell content. My objective is to to a plausibility check on manually entered values. In the attached minimal example, the decimal separator is changed in case someone entered a "," instead of a "." in column Sepal.Width (I used

[2022-01-22 06:20] pi-at-git opened #103 "using excelR with images / resizing & shape changing"
Hello! Following you example bringing images into table cells I successfully managed to display SVG images in my excelR table. As a peculiarity, I'm using data URIs because my images are created on the fly generated via base64enc::dataURI(mime = "image/svg+xml", encoding = "base64", tempfile). Works great, but I haven't found a way to resize the images in the cells yet. It appears to me as if the

[2022-01-22 06:22] pi-at-git opened #104 "rename "excelR" package? :-)"
Hello! Do you see a change to rename your wonderful package into something easier to search for in Google? Looking for excelR gives you typically tons of Excel related results which I'm particularly not interested in (the reason for using excelR is in fact to avoind Excel)

[2022-01-23 15:07] pi-at-git opened #105 "changing cell content"
Hello! I'd like to use your great package for data input. When I select a cell by a **single click** and start typing a letter or a number everything works as expected. However, starting with characters such as "." (e.g. for .5, leaving out the leading zero for laziness) or "-" (e.g. -5) ">" (e.g. ">5") or "<" (e.g. "<5") nothing happens. I noticed that I have enter the cell by either **double cli

[2022-01-23 19:12] analytichealth commented on #99
We have the same issue, the output object will only contain changes made manually to the table. It will not include changes made programmatically. Any tips here would be appreciated. Thanks

[2022-01-24 05:20] pi-at-git commented on #105
I noticed a browser dependency here: in Chromium 97.0.4692.99/Ubuntu (as well a 95.x under Windows 10), it is possible to start with a "-" when you want to enter data after selection of a cell by a single click, while this does not work in Firefox 96/Ubuntu. Starting with ".", "<", or ">" does not work in Chromium either.

[2022-01-24 10:25] Swechhya commented on #97
@Rasmusma1995 Can you clarify what do you mean by the footer option?

[2022-01-24 10:37] Swechhya commented on #98
@aeynaud  Yes, this is achievable with CSS.  Example:
[code]

[2022-01-24 12:04] Swechhya commented on #101
@tbergenhill Thanks for your query.
 After fixing a few issues that have been reported in the current development version I will be releasing a new version of this package.
After that release, I'll need to check the different functionalities that the latest version of jSpreadsheet breaks. Depending on that I will decide if we need an entirely new package or if we could just upgrade excelR.

[2022-01-24 12:05] #99 closed

[2022-01-24 12:07] Swechhya commented on #99
@lanceupton @analytichealth  Please feel free to open this if the issue persists in the latest development version.

[2022-01-24 12:12] Swechhya commented on #102
@pi-at-git  Can you download the latest development version and check if you are still facing this issue?

[2022-01-24 12:20] Swechhya commented on #98
@aeynaud Closing this, feel free to open it if this does not answer your question

[2022-01-24 12:20] #98 closed

[2022-01-24 12:32] Swechhya commented on #103
@pi-at-git  you can achieve this by using CSS. Example:

[code]

[2022-01-24 12:33] Swechhya commented on #103
Closing this, feel free to open if this does not answer your question

[2022-01-24 12:33] #103 closed

[2022-01-24 12:36] Swechhya commented on #105
@pi-at-git Can you download the latest development version and check if you are still facing this issue?

[2022-01-24 12:40] Swechhya commented on #104
@pi-at-git  Refer to this [issue](https://github.com/Swechhya/excelR/issues/101). Upgrading to the next version of jexcel( now jspreadsheet) might mean making an entirely new package

[2022-01-24 18:07] pi-at-git commented on #103
Works great for me! Thanks for the quick response.

[2022-01-25 00:24] zhangjunjiang commented on #93
@mostafa790
hello
I change your code into
[code]
But this doesn't  seem work.
I'm don't know anything about JS.
Can you fix this?

[2022-01-25 07:53] pi-at-git commented on #98
@Swechhya This has an unwanted side effect on setting the column width (intended here: big, small, big, small, big):
![Unbenannt1](https://user-images.githubusercontent.com/66769433/150934617-e9900493-eaa8-43fd-9127-4a10892e3e0b.png)

[code]
observed: small, big, small, big, small

![Unbenannt](https://user-images.githubusercontent.com/66769433/150934184-4213855b-7c3d-42cd-910f-c727464fa4d6.png)

[2022-01-25 08:09] pi-at-git commented on #102
@Swechhya unfortunately, I see no difference. I'd like to doublecheck that I installed the latest dev version correctly. Can you please have a look at the following code:

[code]

[2022-01-25 09:09] analytichealth commented on #99
Thanks @Swechhya, working as expected for me.

[2022-01-25 18:20] lanceupton commented on #99
Confirmed, works great. Thank you!

[2022-01-27 08:16] zhangjunjiang opened #107 "can't see the picture in the table"
hello
I want to use "excelR" to directly show some picture in the table.
my image is stored in my computer.
here is my code:
[code]
the example code in "https://swechhya.github.io/excelR/index.html" works fine to me
the only difference is the path of the images.
Does anyone know why this happen?

[2022-01-27 09:12] pi-at-git commented on #107
@zhangjunjiang try the following:

[code]
Typically, I work with SVG images (not jpg); if this doesn't work: check the mime type

[2022-01-28 13:12] tbergenhill commented on #101
Thank you for responding, @Swechhya - I'll check back in a while to see which direction you'll go.

[2022-02-03 14:21] pi-at-git opened #108 "inter-dependent pulldowns in excelr cells"
Hello! You describe how to create pulldown menus in cells. In my use case I'd like to create a table with **a single row** where the available choices in a pulldown of cell B1 depend on the actual selection in a pulldown in cell A1. Intention is to replace multiple selectize-items with a single ecxelr item.

More concrete:

- assume pulldown in cell A1 contains choices c("A001", "A002", "A003")
-

[2022-02-11 11:55] mos790 commented on #93
hello @zhangjunjiang ,
Sorry for my late message.

You cant combine R and JS code, try to remplace `header %in% my_col` by `!(header in my_col)`

Good luck :)

[2022-02-24 17:50] millett-a opened #109 "ExcelR Table Crashes in Shiny when Pressing Enter on Last Row"
**Describe the bug**
When editing the table in a Shiny app, I noticed that the app will crash when you press 'enter' on the last row. I noticed that briefly it seems to try to add a new row onto the end of it. Looking at the logs, I see this error:

Warning: Error in if: missing value where TRUE/FALSE needed

The problem isn't just changing the last row. If you change the last row then click elsew

[2022-08-14 14:10] wydty commented on #101
Look forward to this feature in the new package: Spreadsheet webcomponent

![image](https://user-images.githubusercontent.com/15198586/184540777-2ef71332-cd2e-403a-87a3-40cdbc91d149.png)

https://jspreadsheet.com/v9/examples/webcomponent

Thank you!

[2022-09-15 20:50] awdursun opened #110 "Error in getTableData: could not find function "getTableData""
I'm trying to replicate the code found in the "Getting table data in Shiny" section, but it seems that the getTableData function is not contained in the package.  I have tried both the CRAN and github versions.

R version 4.1.2

[2022-09-15 23:43] Swechhya commented on #110
@awdursun  Can you please add the code that you tried so that I can replicate the issue?

[2022-09-15 23:59] awdursun commented on #110
Sorry, I should have been more thorough.  I'm using the exact code in the "Getting table data in Shiny" section at https://swechhya.github.io/excelR/

[code]

The app launches without issue but after hitting the action button, 'Error in getTableData: could not find function "getTableData"' displays in the console.  This is because my installation of excelR does not contain the getTableData functio

[2022-09-16 08:33] PablaOO7 commented on #100
@zhangjunjiang you can add `includeHeadersOnDownload = TRUE` this to your code. This will update default setting from false and allow you to download csv with colnames. Hope this helps.😊

output$flocu <- renderExcel(excelTable(data = tmp,columns=columns,showToolbar=TRUE, **includeHeadersOnDownload = TRUE**))

[2022-10-16 01:42] Swechhya commented on #110
@awdursun Can you please try with the latest development version and let me know if it still is causing an issue for you?

[2022-10-16 01:45] Swechhya commented on #109
@millett-a Can you check if you can replicate the issue in the latest development version?

[2022-10-18 11:49] Swechhya commented on #102
@pi-at-git Can you let me know what type of behavior you expect in this case? Should it always change `, ` to `.`?

[2022-11-24 15:11] sbihorel commented on #93
Hi

Thanks to @Swechhya  for publishing this package and for all users who responded to this thread. @mostafa790  provided a workaround for rendering columns read-only. I was wondering if there was a similar mechanisms for rendering rows read-only.

More specifically, is there a way to make rows stored in  reactive variables read only?

Thanks in advance

[2022-11-24 17:24] sbihorel opened #111 "How to change row headers"
Hi,

Is it possible to change the row headers from the standard numerical index to any user-defined text?

[2022-11-26 13:03] sbihorel commented on #111
I found this plugin to jspreasheet... but I am not sure how to integrate it with excelR:
https://jspreadsheet.com/v8/plugins/rowheaders

[2022-11-28 15:31] lanceupton opened #112 "Input object not available on initial render"
**Description**

The `input` object corresponding to an `excelOutput` is not available after the initial render of the table, and *before making any modifications to the table, or invalidating*. It's almost like the input isn't binded until the output is invalidated at least once.

**To Reproduce**

In the included reprex:
1. Click the `Invalidate Input` button to invalidate the `excelOutput` bloc

[2022-11-28 17:05] lanceupton commented on #112
Fortunately, the workaround for this is simple. The conductor just needs to fallback to the source if the `input` object isn't available. Others experiencing this issue might consider using the following:

[code]